.Posts {
  color: white;
  display: flex;
  flex-direction: column;
}
.Post {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 250px;
  min-height: 270px;
  background: white;
  margin: 20px;
}
.Title {
  font-size: 15px;
  color: white;
  color: black;
  margin: 0px !important;
}
.PostBody {
  margin-bottom: 40px;
  color: black;
}
.Line {
  width: 70%;
  margin: 0px 20px 0px 35px;
  background-color: white;
  border-top: 1px solid lightgray;
}
