/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/posts/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.page_Posts__9_Uq5 {
  color: white;
  display: flex;
  flex-direction: column;
}
.page_Post__yxe3G {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 250px;
  min-height: 270px;
  background: white;
  margin: 20px;
}
.page_Title__fv5Gi {
  font-size: 15px;
  color: white;
  color: black;
  margin: 0px !important;
}
.page_PostBody__EFP8N {
  margin-bottom: 40px;
  color: black;
}
.page_Line__ea0LV {
  width: 70%;
  margin: 0px 20px 0px 35px;
  background-color: white;
  border-top: 1px solid lightgray;
}

