/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/register/register.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
#firstName {
  color: green;
}
h1 {
  margin: 40px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #cfc547;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 10px 10px 25px rgb(81, 67, 21), -10px 10px 25px rgb(81, 67, 21),
    -10px -10px 25px rgb(81, 67, 21), 10px -10px 25px rgb(81, 67, 21);
}

